[submodule "themes/hermit-v2"]
	path = themes/hermit-v2
	url = https://github.com/1bl4z3r/hermit-V2
[submodule "GuitarPawat.me/themes/hermit-v2"]
	path = GuitarPawat.me/themes/hermit-v2
	url = https://github.com/1bl4z3r/hermit-V2
