#home-subtitle {
    font-size: 1em;
}

#page .content p {
    font-size: 1.15em;
    line-height: 1.85em;
    /* font-family: Candara,lucida grande,lucida sans unicode,lucida sans,Tahoma,sans-serif; */
}

#page .content p code {
    font-size: 0.9em;
    background-color: #272822;
    color: rgb(238, 238, 238);
}

#page .content ul li {
    font-size: 1.1em;
    margin-bottom: 0.2em;
}

pre.chroma {
    background-color: #272822;
}

.chroma span.c1, .chroma span.cm {
    color: rgb(161, 163, 156);
}

#home-social a[title=Webring] {
    width: 30px; 
    height: 30px;
    content:url(https://webring.wonderful.software/webring.white.svg)
}

a[title=Webring] {
    width: 22px; 
    height: 22px;
    content:url(https://webring.wonderful.software/webring.white.svg)
}

@media (max-width: 520px) {
    #home-title {
        font-size: 1.2em;
    }
    #home-subtitle {
        font-size: 0.65em;
    }

    #page .content p {
        font-size: 1.15em;
    }
}