#home-subtitle {
    font-size: 1em;
}

#page .content p {
    font-size: 1.25em;
    font-family: Candara,lucida grande,lucida sans unicode,lucida sans,Tahoma,sans-serif;
}

#page .content p code {
    font-size: 0.85em;
}

pre.chroma {
    background-color: #272822;
}

.chroma span.c1, .chroma span.cm {
    color: rgb(161, 163, 156);
}

@media (max-width: 520px) {
    #home-title {
        font-size: 1.2em;
    }
    #home-subtitle {
        font-size: 0.65em;
    }

    #page .content p {
        font-size: 1.15em;
    }
}